* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
}

header {
  background-color: #333;
  width: 100%;
  text-align: right;
  color: #fff;
  padding: 10px;
  background-image: ;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: yellowgreen;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin: 50px 0;
}

h1 {
  text-align: left;
  text-shadow: 1px 1px 1px blue, 2px 2px 1px blue;
}

h2 {
  text-align: center;
}

h3 {
  text-align: justify;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.work-samples {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  box-shadow: 3px 3px rgb(4, 133, 140), -1em 0 .4em rgb(236, 102, 178);
}

.grow { 
  transition: all .2s ease-in-out; 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.grow:hover { 
  transform: scale(1.1); 
  }

.work-samples a {
  flex: 1;
  margin: 10px;
}